html, body {
    min-height: 100%;
    }
body, div, form, input, select, p { 
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: #eee;
    }
body {
    background-image: url("Matrix-GIF-Find-Share-on-GIPHY.gif");
    
    display: flex;
    justify-content: center;
    align-items: center;
    }
h1, h2 {
    text-transform: uppercase;
    font-weight: 400;
    }
h2 {
    margin: 0 0 0 8px;
    }
.main-block {
    	width: 700px;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	    height: 100%;
	    padding: 25px;
	    background: rgba(0, 0, 0, 0.5); 
    
    }
.left-part, form {
    	padding: 25px;
    }
.left-part {
    	text-align: center;
    }
.fa-graduation-cap {
    	font-size: 72px;
    }
form {
	width: 100%;
	background: #ffffff20;
	border-radius: 20px; 
	padding: 77px 55px 33px 55px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);

    }
.title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 30% 7%;
    }
    .info {
    display: flex;
    flex-direction: column;
    }
    input, select {
    padding: 5px;
    margin-bottom: 30px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #eee;
    }
    input::placeholder {
    color: #eee;
    }
    option:focus {
    border: none;
    }
    option {
    background: black; 
    border: none;
    }
    .checkbox input {
    margin: 0 10px 0 0;
    vertical-align: middle;
    }
    .checkbox a {
    color: #26a9e0;
    }
    .checkbox a:hover {
    color: #85d6de;
    }
    .btn-item, button {
    padding: 10px 5px;
    margin-top: 20px;
    border-radius: 5px; 
    border: none;
    background: #26a9e0; 
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    }
    .btn-item {
    display: inline-block;
    margin: 20px 5px 0;
    }
    button {
    width: 100%;
    }
    button:hover, .btn-item:hover {
    background: #85d6de;
    }
@media (min-width: 568px ) {
html, body {
        height: auto;
    }

.title{
	padding: 0;
}
.main-block {
    flex-direction: row;
    height: 100%;
    padding-top: 50%;
    
    }
}
@media (min-width : 1025px){
    .main-block {
        flex-direction: row;
        height: 100%;
        padding-top: 10%;
        
        }
}